/* google font */
.azeret-mono-font{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* main part started */
main{
    width: 1145px;
    margin: 0px auto;
}

/* header part started */
.header-part{
    background-image: url("../assets/Hero-bg.png");
    text-align: center;
    padding: 150px;
    height: 460px;
    margin-bottom: 100px;
}

.header-h{
    font-weight: 600;
    font-size: 50px;
}

.header-p{
    color: #1b202c;
}

.btn-header{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #1b202c;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

/* development part started */
.development{
    background-color: rgb(255, 246, 246);
    padding: 70px;
    margin-bottom: 100px;
    border-radius: 20px;
}

.dp-part{
    text-align: center;
}

#dp-bg{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(162, 218, 255));
}

.dp-container{
    display: flex;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(162, 218, 255));
    align-items: center;
    padding: 35px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.btn-primary{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 16px;  
}