/* google font */
.azeret-mono-font{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header part started */
.header-part{
    background-image: url("../assets/Hero-bg.png");
    text-align: center;
    padding: 150px;
    height: 460px;
}

.header-h{
    font-weight: 600;
    font-size: 50px;
}

.header-p{
    color: #1b202c;
}

.btn-header{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #1b202c;
    color: white;
    font-weight: 600;
    font-size: 16px;
}